:root {
  --title-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #404bbf;
  --primary-bg-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-btn,
.list-btn {
  cursor: pointer;
}

/* --------------------------------------Basic HTML------------------------------ */

/* ------------------------------------logo---------------------------------  */

.header {
  background-color: var(--primary-bg-color);
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #272c7f;
}

/* ------------------------------------nav----------------------------  */

.page-header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.portfolio .link {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

/* ----------------------------------contacts-------------------------- */

.header-contact {
  margin-left: auto;
}

.header-contact-list .mail,
.header-contact-list .tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}
.tel:hover,
.mail:hover {
  color: var(--accent-color);
}
.tel:focus,
.mail:focus {
  color: var(--accent-color);
}

.header-contact-list {
  display: flex;
}

.header-contact-list .item + .item {
  margin-left: 40px;
}

/* ------------------------------------hero------------------------------------  */
.main-part {
  background: #2e2f42;
  text-align: center;
}
.main-part-title {
  margin-top: 0;
  margin-bottom: 48px;

  padding-top: 188px;
  font-size: 56px;
  line-height: 1.07;

  color: #ffffff;
}

.main-btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;

  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;

  margin-bottom: 188px;
}
.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
  color: #ffffff;
}

/* --------------------------------Hidden title--------------------------------  */
.text-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-list-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.selection-description {
  margin-top: 120px;
}
.description {
  display: flex;
}
.description .item:not(:last-child) {
  margin-right: 24px;
}

.text-list {
  margin-bottom: 8px;
}

/* ------------------------------------about------------------------------------  */
.about {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.selection-about {
  margin-top: 120px;
}

.about {
  margin: 0;
}

.card-about {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-top: 72px;
  flex-basis: calc(100 / 3);
  justify-content: space-between;
}

/* ---------------------------------------Team------------------------------------ */
.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.selection-team {
  background-color: #f4f4fd;
  margin-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.team {
  margin-top: 0;
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-list,
.team-list-position {
  margin: 0;
  padding: 0;
  list-style: none;
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.conteiner-team {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(66, 46, 46, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.selection-team > p,
h3 {
  margin-top: 0;
}

.selection-team img {
  margin-bottom: 32px;
}

/* -----------------------------------------Footer----------------------------------- */
.bottom-page {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
}

/* ----------------------------------------Portfolio----------------------------------- */

/* -----------------------------------------Hidden header----------------------------------- */
/* --------------------------------------------Buttons------------------------------------------- */

.list-btn:hover,
.list-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.list-btn {
  font-family: inherit;
  width: 116px;
  height: 48px;
  color: #4d5ae5;
  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* --------------------------------------------Buttons------------------------------------------- */

/* --------------------------------------------List apps---------------------------------------------- */
.list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.list-text-item {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

/* --------------------------------------------List apps---------------------------------------------- */

/* --------------------------------------------logo-link--------------------------------------------  */

.bottom-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #f4f4fd;
}
.bottom {
  background: #2e2f42;
}

/* --------------------------------------------logo-link--------------------------------------------  */
